.container {
width: 100%;
}

.blocks {
    width: 100%;
}

.blocks:before, .blocks:after {
    display: table;
    content: "";
}
.blocks:after {
    clear: both;
}

.block-1 {
    float: left;
    width:25.333333333%;
    margin:1%;
    padding:1%;
}
.block-2 {
    float: left;
    width:25.333333333%;
    margin:1%;
    padding:1%;
}
.block-3 {
    float: left;
    width:25.333333333%;
    margin:1%;
    padding:1%;
}
