<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ex16</title>
    <link rel="stylesheet" type="text/css"
          href="c:\projects\htmlcss\css\style.css">
</head>
<body>
<p>SQL tutorial of w3resource is a comprehensive tutorial to learn SQL. We have followed SQL:2003 standard of ANSI.
    There are hundreds of examples given in this tutorial. Output are shown with Oracle 10G. Often outputs are followed
    by pictorial presentation and explanation for better understanding</p>
</body>
</html>