<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <h1>Travel reservation form</h1>
    <h2>*denotes mandotory</h2>
    <label>Full name*:</label>
    <input placeholder="Введите имя">
    <label>Email address*:</label>
    <input placeholder="Введите эмеил">
    <br><br>
    <label>Select Tout Package*:</label>
    <select>
        <option>Goa</options>
        <option>Kiev</options>
        <option>France</options>
    </select><br><br>
    <label>Arrival data*:</label>
    <input placeholder="Введите дату">
    <label>Number of persons*:</label>
    <input placeholder="Введите номер">
    <br><br>
    <label>What would you want yo avail?*</label>
    <br>
    Boarding <input type="checkbox"></label>
    Fooding <input type="checkbox"</label>
    Sight seeing <input type="checkbox">
    <br><br>
    <label>Dicout Coupon code:</label>
    <input placeholder="Введите код">
    <br><br>
    <label>Terms and conditions*</label>
    <input type="radio"></label>I agree
    <input type="radio"></label>I disagree
    <br><br>
    <button type="submit">Complete reservation</button>
</div>
</body>
</html>