<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="c:\projects\htmlcss\css\style.css">

</head>
<body>
<table>
    <tr><th>Id</th><th>Name</th><th>Major</th></tr>
    <tr><td>1001</td><td>Gopl Murthy</td><td>Phisics</td></tr>
    <tr><td>1002</td><td>Gopl Murthy</td><td>Phisics</td></tr>
    <tr><td>1003</td><td>Gopl Murthy</td><td>Phisics</td></tr>
    <tr><td>1004</td><td>Gopl Murthy</td><td>Phisics</td></tr>
</table>
</body>
</html>